/* Add Hover Gray Background to all links */
a:hover {
    background-color: gray;
    text-decoration: none;
}

/* Jumbotron - Entire Div */
.jumbotron {
  background-image: url("../images/bl-about-me-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Jumbotron - Container */
.jumbotron .row .container {
    height: 40vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Text within Jumbotron */
.jbttext {
    color: white;
    text-align: center;
}

/* About/Skills/Work Section Container */
.aboutContainer, .skillsContainer, .workContainer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 40px;
}

/* Add Hover Gray Background to the full card body */
.card:hover {
    background-color: gray;
}

/* Work Section */
.card-title, .card-text {
    color: black;
}

/* Contact Section */
#contactSectionStart {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Contact Section - Header Text */
#contactSectionStart h2 {
    margin-right: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}