.jumbotron {
  background-image: url("../images/bl-about-me-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jbttext {
    color: white;;
}

.mb-3 {
    margin-left: 20px;
    margin-right: 20px;
}